### Functions

#### How to create a Function ?

we use def keyword to define/create a function, every function returns a value, for which we use return keyword

```
def functionName(arg1,arg2,arg3):
    write code on arg1, arg2 ..
    write code using args
    we get result
    return result
```

In [1]:
def sumof2(num1,num2):
    total = num1+num2
    return total

In [ ]:
def -> keyword we use to build/create functions
sumof2 -> Name of the function
(num1,num2) -> arguments/parameters/inputs to function
total - the code block that is based on arguments/args
return - gives an assignable value ( we can store the value returned by function in a variable and we can call the variable an number of times )

In [2]:
sumof2(1,3)

4

In [10]:
ans = sumof2(1,5)

In [4]:
# returns an assignable value
ans = sumof2(1,5)
print(ans)

6

In [5]:
def sumof2_v2(num1,num2):
    total = num1+num2
    print(total)

In [6]:
sumof2_v2(1,5)

6

In [11]:
ans2 = sumof2_v2(1,5)

6

In [12]:
ans2

In [9]:
ans

6

##### Candidate Interview

In [13]:
# create a function that collections
# name,age, edu, pincode,phone number from the user
# transforms the data
# returns a dictionary of values collected

In [14]:
def interview():
    details = dict()
    name = input("Please Enter your Name : ")
    yob = input("Please enter the year of your birth :")
    city = input("Please Enter your City : ")
    edu = input("Please Enter your Qualification : ")
    gender = input("Please Enter your Gender : ")
    phone_number = input("Please Enter your PhoneNumber : ")
    current_year = 2025
    ## tranformation
    details['name'] = name.upper()
    details['gender'] = gender[0].upper()
    details['education'] = edu.capitalize()
    details['contact'] = "+91" + phone_number
    # -- current year - year of birth = age
    details['age'] = current_year - int(yob)
    return details

In [15]:
interview()

Please Enter your Name :  sri
Please enter the year of your birth : 2009
Please Enter your City :  Hyderabad
Please Enter your Qualification :  ba
Please Enter your Gender :  male
Please Enter your PhoneNumber :  97053012345

{'name': 'SRI',
 'gender': 'M',
 'education': 'Ba',
 'contact': '+9197053012345',
 'age': 16}

In [ ]:
#### Writing the function without collecting inputs

In [21]:
def interview2(name,yob,city,edu,gender,contact):
    details = {}
    current_year = 2025
    details['name'] = name.upper()
    details['city'] = city.upper()
    details['gender'] = gender[0].upper()
    details['education'] = edu.capitalize()
    details['contact'] = "+91" + str(contact)
    # -- current year - year of birth = age
    details['age'] = current_year - int(yob)
    return details

In [22]:
interview2('sri',2010,'warangal','bsc','male',123456789)

{'name': 'SRI',
 'city': 'WARANGAL',
 'gender': 'M',
 'education': 'Bsc',
 'contact': '+91123456789',
 'age': 15}

In [23]:
sri=interview2('sri',2010,'warangal','bsc','male',123456789)

In [24]:
sri

{'name': 'SRI',
 'city': 'WARANGAL',
 'gender': 'M',
 'education': 'Bsc',
 'contact': '+91123456789',
 'age': 15}

In [25]:
ada=interview2('ada',2011,'warangal','bsc','female',111116789)

In [26]:
java=interview2('java',1947,'palakollu','ba','male',22222222)

In [27]:
ada

{'name': 'ADA',
 'city': 'WARANGAL',
 'gender': 'F',
 'education': 'Bsc',
 'contact': '+91111116789',
 'age': 14}

In [28]:
java

{'name': 'JAVA',
 'city': 'PALAKOLLU',
 'gender': 'M',
 'education': 'Ba',
 'contact': '+9122222222',
 'age': 78}

In [29]:
sri

{'name': 'SRI',
 'city': 'WARANGAL',
 'gender': 'M',
 'education': 'Bsc',
 'contact': '+91123456789',
 'age': 15}

In [30]:
### find the average of 3 subject marks of every student

In [31]:
def avg(maths,science,social):
    total = maths+science+social
    avg = total/3
    return avg


# def avg(maths,science,social):
#     total = maths+science+social
#     return total/3

In [32]:
sri =avg(90,90,90)

In [33]:
sri

90.0

In [34]:
py = avg(20,30,40)

In [35]:
py

30.0

In [36]:
#assign grade to this
# 0-50 - Fail
# 51-70 - pass
# 71 - 100 - distinction

In [37]:
def avg(maths,science,social):
    details = {}
    details['marks']={}
    total = maths+science+social
    avg = total/3
    grade=''
    if avg >= 0 and avg <=50:
        grade = 'Fail'
    elif avg >=51 and avg <=70:
        grade = 'Pass'
    elif avg >=71 and avg<=100:
        grade = 'Distinction'
    else:
        grade = 'Cannot Compute your Grade'
    details['marks']['maths']=maths
    details['marks']['science']=science
    details['marks']['social']=social
    details['total'] = total
    details['avg'] = avg
    details['grade']=grade
    return details

In [38]:
avg(60,70,60)

{'marks': {'maths': 60, 'science': 70, 'social': 60},
 'total': 190,
 'avg': 63.333333333333336,
 'grade': 'Pass'}