In [1]:
import pandas as pd
import os

In [7]:
pd.options.display.max_columns = 100

In [2]:
os.getcwd()

'D:\\SphoorthiFreeClasses\\python'

In [3]:
os.chdir("D:\SphoorthiFreeClasses\python\datasets")

In [4]:
os.listdir('.')

['animal_sleeptime.csv', 'Readme.txt']

In [ ]:
# reading csv files into pandas
csvdata=pd.read_csv(CSV-FILE-NAME) 
# pd.read_csv(CSV-FILE-NAME, parse_dates = ['Date1','Date2'....])
# parse_dates = ['Date1','Date2'] - is an argument that takes dates in the file if any and treats them as dates, if not they're treated as strings

In [5]:
csvdata=pd.read_csv('animal_sleeptime.csv')

In [8]:
csvdata

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
...,...,...,...,...,...,...,...,...,...,...,...
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230

In [9]:
type(csvdata)

pandas.core.frame.DataFrame

In [10]:
csvdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          83 non-null     object
 1   genus         83 non-null     object
 2   vore          76 non-null     object
 3   order         83 non-null     object
 4   conservation  54 non-null     object
 5   sleep_total   83 non-null     float64
 6   sleep_rem     61 non-null     float64
 7   sleep_cycle   32 non-null     float64
 8   awake         83 non-null     float64
 9   brainwt       56 non-null     float64
 10  bodywt        83 non-null     float64
dtypes: float64(6), object(5)
memory usage: 7.3+ KB

In [11]:
# identifying individual columns
csvdata.name

0                        Cheetah
1                     Owl monkey
2                Mountain beaver
3     Greater short-tailed shrew
4                            Cow
                 ...
78                    Tree shrew
79          Bottle-nosed dolphin
80                         Genet
81                    Arctic fox
82                       Red fox
Name: name, Length: 83, dtype: object

In [12]:
csvdata.bodywt

0      50.000
1       0.480
2       1.350
3       0.019
4     600.000
       ...
78      0.104
79    173.330
80      2.000
81      3.380
82      4.230
Name: bodywt, Length: 83, dtype: float64

In [ ]:
# DataFrame.ColumnName -> returns the column

In [13]:
# create a dataframe using a dictionary
newdata=[{'name': 'Cheetah',
  'genus': 'Acinonyx',
  'vore': 'carni',
  'order': 'Carnivora',
  'conservation': 'lc',
  'sleep_total': '12.1',
  'sleep_rem': 'NA',
  'sleep_cycle': 'NA',
  'awake': '11.9',
  'brainwt': 'NA',
  'bodywt': '50'},
 {'name': 'Owl monkey',
  'genus': 'Aotus',
  'vore': 'omni',
  'order': 'Primates',
  'conservation': 'NA',
  'sleep_total': '17',
  'sleep_rem': '1.8',
  'sleep_cycle': 'NA',
  'awake': '7',
  'brainwt': '0.0155',
  'bodywt': '0.48'},
 {'name': 'Mountain beaver',
  'genus': 'Aplodontia',
  'vore': 'herbi',
  'order': 'Rodentia',
  'conservation': 'nt',
  'sleep_total': '14.4',
  'sleep_rem': '2.4',
  'sleep_cycle': 'NA',
  'awake': '9.6',
  'brainwt': 'NA',
  'bodywt': '1.35'}]

In [14]:
newdata = pd.DataFrame(newdata)

In [15]:
newdata

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NA,NA,11.9,NA,50
1,Owl monkey,Aotus,omni,Primates,NA,17,1.8,NA,7,0.0155,0.48
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NA,9.6,NA,1.35

In [17]:
pd.DataFrame(['brinjal', 'okra', 'bottleguard', 'kothmir'],columns=['Names'])

         Names
0      brinjal
1         okra
2  bottleguard
3      kothmir