In [1]:
import os
import sqlite3

In [3]:
os.getcwd()

'D:\\SphoorthiFreeClasses\\python'

In [5]:
os.mkdir("Databases")

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'Databases'

In [6]:
os.chdir("Databases")

In [7]:
os.getcwd()

'D:\\SphoorthiFreeClasses\\python\\Databases'

# Create DB / Tables / Insert sample data

In [2]:
# create connection / connection obj / using which we perform SQL/DB operations
# .connect() method will create a DB is that doesnt exists & if it exists, then it establishes a connection

In [8]:
conn = sqlite3.connect('cars.db')

In [9]:
# create a table
# Table - car
# https://www.w3schools.com/sql/sql_create_table.asp

```sql
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype
); 
```

In [11]:
# all the queries should be Strings
qry_create_table="""CREATE TABLE car (
    carid text,
    carmake text,
    carmodel text,
    caryear int
); """

In [13]:
# use the conn object that we have created to execute all the queries
# we call     .execute(QUERY) method from conn object to run queries

In [14]:
conn.execute(qry_create_table)

In [17]:
qry_create_usertable="""CREATE TABLE owners (
    owner_name text,
    owner_id int,
    owner_car_number text
); """

In [18]:
    conn.execute(qry_create_usertable)

In [19]:
# insert some values into database
# https://www.w3schools.com/sql/sql_insert.asp

```sql

INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...); 

```

In [20]:
qry_insrt_cars_db='''INSERT INTO car (carid, carmake, carmodel, caryear)
VALUES ('1958', 'Maruthi800', '1990', '1995'); '''

In [21]:
conn.execute(qry_insrt_cars_db)

In [22]:
conn.commit()

In [23]:
qry_insrt_cars_db='''INSERT INTO car (carid, carmake, carmodel, caryear)
VALUES ('1959', 'Maruthi Esteem', '1990', '1997'); '''

In [24]:
conn.execute(qry_insrt_cars_db)

In [25]:
# for inserting the vaues into tables, we need to commit the query for which we run
# .commit() method

In [26]:
conn.commit()

In [27]:
multiple_rows = [
    ('1959', 'Maruthi Esteem', '1990', '1997'),
    ('1947', 'BMW', '1980', '1997'),
    ('1950', 'Piaggio', '1999', '2000'),
    ('1959', 'Maruthi', '1990', '1997'),
    ('1912', 'Esteem', '1990', '1997'),
    ('1911', 'Kya', '1990', '1997'),
    ('1933', 'Premier', '1990', '1997'),
    ('1999', 'Padmini', '1990', '1997'),
    ('1913', 'Contessa', '1990', '1997'),
    ('1901', 'merc', '1990', '1997'),
    ('1900', 'Maruthi Esteem', '1990', '1997')
]

In [31]:
qry_insertmany = """ 
INSERT INTO car 
VALUES (?,?,?,?)"""

In [28]:
s= {
'sandles':1220,
'idly rava':100,
'jeans':1111,
'fruit':'apple',
'cooldrink':'butter milk'
}

In [30]:
s.items()

dict_items([('sandles', 1220), ('idly rava', 100), ('jeans', 1111), ('fruit', 'apple'), ('cooldrink', 'butter milk')])

In [ ]:
[('sandles', 1220),
 ('idly rava', 100), 
 ('jeans', 1111), 
 ('fruit', 'apple'),
 ('cooldrink', 'butter milk')
]

In [ ]:
# to insert multiple rows, we use execute many method
# .executemany(query,data)

In [32]:
conn.executemany(qry_insertmany, multiple_rows)

In [33]:
conn.commit()

# Select Queries

In [34]:
qry_select_all = "select * from car;"

In [35]:
# when we run the select queries then a response obj is returned which will have the data
# we use that obj for further ops

In [37]:
# conn.execute(qry_select_all)
data=conn.execute("select * from car;")

In [38]:
data

In [39]:
# use a for loop to read the data
for each_row in data:
    print(each_row)

('1958', 'Maruthi800', '1990', 1995)
('1959', 'Maruthi Esteem', '1990', 1997)
('1959', 'Maruthi Esteem', '1990', 1997)
('1947', 'BMW', '1980', 1997)
('1950', 'Piaggio', '1999', 2000)
('1959', 'Maruthi', '1990', 1997)
('1912', 'Esteem', '1990', 1997)
('1911', 'Kya', '1990', 1997)
('1933', 'Premier', '1990', 1997)
('1999', 'Padmini', '1990', 1997)
('1913', 'Contessa', '1990', 1997)
('1901', 'merc', '1990', 1997)
('1900', 'Maruthi Esteem', '1990', 1997)

In [ ]:
def queryeng(query,db):
    connection object
    set up connection
    run query on db
    if it is a select query, return values
    if it is a insert query then insert values, commit and return success msg

```python
import psycopg2

# Connect to your postgres DB
conn = psycopg2.connect("dbname=test user=postgres")

# Open a cursor to perform database operations
cur = conn.cursor()

# Execute a query
cur.execute("SELECT * FROM my_data")

# Retrieve query results
records = cur.fetchall()
```